%li.item{:id => ('item-state-' + simulation.id.to_s) }
  .trigger
  .item
    .data
      %h4.item-name= simulation.name
      %h5.item-identifier= "(#{simulation.identifier})"
      %h5.item-identifier
        %span.label.label-info Primary production
      %h5.item-description= "#{simulation.machine.identifier} - #{simulation.machine.name} => #{simulation.product.identifier} - #{simulation.product.name}"

      %ul.infos
        %li
          %span.value 1 year
          %span.name aging
        %li
          %span.value $12500
          %span.name maintenance/year
        %li
          %span.value 4
          %span.name workforce          
        %li
          %span.value 2%
          %span.name downtime
        %li
          %span.value 96.64%
          %span.name quality

    .crud.alert-actions
      %ul
        %li
          %a{:href => "/simulations/#{simulation.id}/edit"} Modifier
