%li.item{:id => ('item-state-' + simulation.id.to_s) }
  .trigger
  .item
    .data
      %h4.item-name= simulation.name
      %h5.item-identifier= "(#{simulation.identifier})"
      %h5.item-identifier
        %span.label.label-info Primary production
      %h5.item-description= "#{simulation.machine.name} => #{simulation.product.name}"

      %ul.infos
        %li
          %span.value=simulation.machine.identifier
          %span.name machine
        %li
          %span.value=simulation.product.identifier
          %span.name product
        %li
          %span.value=simulation.product.type.capitalize
          %span.name Type  

    .crud.alert-actions
      %ul
        %li
          %a.btn.btn-info{:href => "/simulations/#{simulation.id}/edit"} Edit properties
        
        %li
          %a.btn.btn-info{:href => "/simulations/#{simulation.id}/clone"} Clone into new

        %li.btn-group
          %a.btn.btn-primary.dropdown-toggle{:"data-toggle" => 'dropdown'} 
            Run...
            %span.caret
          %ul.dropdown-menu
            %li
              %a{:href=>"/simulations/#{simulation.id}/run-fasttrack"} Fast-track running!
            %li
              %a{:href=>"/simulations/#{simulation.id}/run-realtime"} Real-time running!
