%li.item{:id => ('item-state-' + machine.id.to_s) }
  .trigger
  .item
    .data
      %h4.item-name= machine.name
      %h5.item-identifier= "(#{machine.identifier})"
      %h5.item-identifier
        %span.label.label-info Primary production
      %h5.item-description= machine.name

      %ul.infos
        %li
          %span.value 0
          %span.name products handled      
        %li
          %span.value 4
          %span.name workforce          
        %li
          %span.value 2%
          %span.name downtime
        %li
          %span.value 96.64%
          %span.name quality
        %li
          %span.value $12500
          %span.name maintenance/year
        %li
          %span.value 1 year
          %span.name aging

    .crud.alert-actions
      %ul
        %li
          %a.btn.btn-info{:href => "/machines/#{machine.id}/edit"} Edit properties
        %li
          %a.btn.post-action.btn-info{:href => "/machines/#{machine.id}/clone"} Clone into new
        %li
          %a.btn.delete-action.btn-danger{:href => "/machines/#{machine.id}"} Delete