%li.item{:id => ('item-state-' + product.id.to_s) }
  .trigger
  .item
    .data
      %h4.item-name= product.name
      %h5.item-identifier= "(#{product.identifier})"
      %h5.item-identifier
        %span.label.label-info= product.type
      %h5.item-description= product.name

      %ul.infos
        %li
          %span.value 0
          %span.name process
        %li
          %span.value 0
          %span.name parts
        %li
          %span.value 0%
          %span.name marging

    .crud.alert-actions
      %ul
        %li
          %a.btn.btn-info{:href => "/products/#{product.id}/edit"} Edit properties
        %li
          %a.btn.post-action.btn-info{:href => "/products/#{product.id}/clone"} Clone into new
        %li
          %a.delete-action.btn.btn-danger{:href => "/products/#{product.id}"} Delete