%li.item{:id => ('item-state-' + product.id.to_s) }
  .trigger
  .item
    .data
      %h4.item-name= product.name
      %h5.item-identifier= "(#{product.identifier})"
      %h5.item-description= product.description

      %ul.infos
        %li
          %span.value 0
          %span.name en stock
        %li
          %span.value="$#{product.price}"
          %span.name prix de vente
        %li
          %span.value $0
          %span.name coût à l'achat
        %li
          %span.value %0
          %span.name marge de profit
        %li
          %span.value Jamais
          %span.name Dernière vente
        %li
          %span.value Bon
          %span.name niveau des stocks

    .crud.alert-actions
      %ul
        %li
          %a{:href => "/products/#{product.id}/edit"} Modifier
        %li
          %a{:href => "/products/#{product.id}/edit#!suppliers"} Fournisseurs (#{product.purchase_products.length})
        %li
          %a{:href => "/products/#{product.id}/edit#!purchases"} Achats (#{product.product_suppliers.length})
        %li
          %a{:href => "/products/#{product.id}/sales#!sales"} Ventes (0)
